<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class="container mt-5">
                <div class="alert alert-primary" role="alert">
                    <h2>Body Temporature</h2>
                  </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Celsius</th>
                        <td scope="col"><%=celsius%></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Registration Date</th>
                        <td><%=dateRegister%></td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="container mt-5">
                <div class="alert alert-primary" role="alert">
                    <h2>Vaccine</h2>
                  </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"><h3>First Vaccine</h3></th>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="col">Type</th>
                        <td><%=type1%></td>
                      </tr>
                      <tr>
                        <th scope="row">Date</th>
                        <td><%=dateInjection1%></td>
                      </tr>
                    </tbody>

                    <thead>
                        <tr>
                          <th scope="col"><h3>Second Vaccine</h3></th>
                          <td></td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Type</th>
                          <td><%=type2%></td>
                        </tr>
                        <tr>
                          <th scope="row">Date</th>
                          <td><%=dateInjection2%></td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <hr>
            <div class="container mt-5">
                <div class="alert alert-primary" role="alert">
                    <h2>Covid Infection</h2>
                  </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Status</th>
                        <td scope="col"><%=(infection === 0) ? "Negative": "Positive"%></td>
                      </tr>
                    </thead>
                </table>
            </div>

            <div class="container">
                <a href="/edit-covid" class="btn btn-info btn-lg w-100">Update</a> 
            </div>

            
            <%- include('../includes/end.ejs') %>
    </body>