<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <div class="container">
                <form action="/postSalary" method="POST">
                    <select name = "month" class="form-select">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <!-- <input type="hidden" value="11" name='month'> -->
                    <button type="submit" class="btn btn-primary">Salary</button>
                </form>
            </div>





            <% for (let day of attendances) { %>
                <h1>Day: <%= day.day%>
                </h1>
                <ul>
                    <% for (let i=0; day.items.length> i; i++ ) { %>

                        <% if (i !==day.items.length - 1) {%>
                            <h3>#<%= day.items[i]._id %>
                            </h3>
                            <ul>
                                <li>Check In: <%= new Date(day.items[i].checkIn).getHours()%>h<%= new
                                            Date(day.items[i].checkIn).getMinutes()%>'</li>
                                <li>Check Out: <% if (day.items[i].checkOut) {%>
                                        <%=new Date(day.items[i].checkOut).getHours()%>h<%= new
                                                Date(day.items[i].checkOut).getMinutes()%>'<%}%>
                                </li>
                                <li>Wowk Place: <%= day.items[i].workplace%>
                                </li>
                                <li>Time Of Session: <%= (day.items[i].timeOfSession/60).toFixed(2)%> Hours</li>
                            </ul>
                            <%} else {%>
                                <h3>#<%= day.items[i]._id %>
                                </h3>
                                <ul>
                                    <li>Check In: <%= new Date(day.items[i].checkIn).getHours()%>h<%= new
                                                Date(day.items[i].checkIn).getMinutes()%>'</li>
                                    <li>Check Out: <% if (day.items[i].checkOut) {%>
                                            <%=new Date(day.items[i].checkOut).getHours()%>h<%= new
                                                    Date(day.items[i].checkOut).getMinutes()%>'<%}%>
                                    </li>
                                    <li>Wowk Place: <%= day.items[i].workplace%>
                                    </li>

                                    <li>Time Of Session: <%= (day.items[i].timeOfSession/60).toFixed(2)%> Hours</li>

                                    <li>Annual Leave: <%= day.annualLeave %> Hours</li>

                                    <li>Time Of Day: <%= (day.totalTimeOfDay/60 + day.annualLeave).toFixed(2) %> Hours
                                    </li>
                                </ul>

                                <%} %>
                                    <% } %>


                </ul>
                <hr>

                <% } %>


                    <!-- <div class="container">
                <div class="row">
                    <button class="btn btn-primary lg">Salary Month</button>
                </div>
            </div> -->

                    <%- include('../includes/end.ejs') %>
    </body>